.header__logo {
  max-width: 103.74px;
  padding-bottom: 28.6px;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    padding-bottom: 41px;
    padding-top: 45px;
  }

  .header__logo {
    max-width: 142px;
  }
}