.popup__close-button-zoom {
  margin-top: 200px;
  margin-right: 40px;
}

.popup__close-button-zoom:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .popup__close-button-zoom {
    margin-right: 270px;
    margin-top: 125px;
  }
}